<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="LOG_DIR_LOGTODO" value="logs/logTodo" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>{ "timestamp": %d{dd-MM-yyyy HH:mm:ss.SSS}, "message": %msg,
				"logger_name": %logger{35}, "thread_name": [%thread], "level":
				%-5level }%n</pattern>
		</encoder>
	</appender>
	<appender name="logTodo"
		class="ch.qos.logback.core.FileAppender">
		<file>${LOG_DIR_LOGTODO:-env/}/logTodo.txt</file>
		<append>true</append>
		<encoder>
			<pattern>{ "timestamp": %d{dd-MM-yyyy HH:mm:ss.SSS}, "message": %msg,
				"logger_name": %logger{35}, "thread_name": [%thread], "level":
				%-5level }%n</pattern>
		</encoder>
	</appender>
	<logger name="br.com.magnasistemas.projetotodo" level="info">
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="info">
		<appender-ref ref="logTodo" />
	</root>
</configuration>

